AddDefaultCharset UTF-8

php_flag display_errors on
php_flag display_startup_errors on

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteRule ^(.+)/$ /$1 [L,R=301]

RewriteRule ^/?([0-9A-Za-z]+)$ /?url=$1 [L]
